.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


form{
  margin: auto;
  display: flex;
  gap: 20px;
  width: 1130px;

}
form input{
  flex-basis: 80%;
  height: 40px;

}
form button{
  flex-basis: 20%;
}

.tododiv{
  
  width: 1130px;
  margin: auto;
}
.tododiv ul{
  margin-top: 50px;
  list-style: none;
}
.tododiv ul li{
  text-align: left;
  height: 40px;
  position: relative;
  background-color: #808080;
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.tododiv ul li span{
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.completed{
  text-decoration: line-through;
}